{
    "singleQuote": true,
    "semi": false,
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 80,
    "endOfLine": "auto",
    "overrides": [
      {
        "files": ".prettierrc",
        "options": { "parser": "json" }
      }
    ]
  }
  